@model PizzaProject.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Cart</h1>

<div>
    <h4>Order Status</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PizzaName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaCrust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PizzaCrust)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prize)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfPizzas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfPizzas)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSlices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSlices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toppings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toppings)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PizzaId"></a> 
    <a asp-action="Customize">Customize</a>
</div>
